<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981535019598-gidra1lt1tb537p2cclce5spv6adsbtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981535019598-gidra1lt1tb537p2cclce5spv6adsbtd</string>
	<key>API_KEY</key>
	<string>AIzaSyAsLUxU6EZM4B2EJbSJUQBuhDFas37p-Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>981535019598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pranav-suri.com.Tennis</string>
	<key>PROJECT_ID</key>
	<string>tennistrackerprod</string>
	<key>STORAGE_BUCKET</key>
	<string>tennistrackerprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981535019598:ios:3e804d5e315e1e091b691f</string>
</dict>
</plist>